In [ ]:
import pandas as pd
import numpy as np
!pip install efficient-apriori

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting efficient-apriori
  Downloading efficient_apriori-2.0.3-py3-none-any.whl (14 kB)
Installing collected packages: efficient-apriori
Successfully installed efficient-apriori-2.0.3

In [ ]:
from efficient_apriori import apriori

In [ ]:
transc=[
    ['Milk','Diaper','Tea'],
    ['Milk','Diaper','Tea','Butter'],
    ['Milk','Diaper','Tea'],
    ['Milk','Diaper','Bread','Butter'],
    ['Milk','Diaper','Bread','Butter','Tea']
]

In [ ]:
transc

[['Milk', 'Diaper', 'Tea'],
 ['Milk', 'Diaper', 'Tea', 'Butter'],
 ['Milk', 'Diaper', 'Tea'],
 ['Milk', 'Diaper', 'Bread', 'Butter'],
 ['Milk', 'Diaper', 'Bread', 'Butter', 'Tea']]

In [ ]:
itemset, rules = apriori(transc,min_support=0.5, min_confidence= 0.75)

In [ ]:
itemset

{1: {('Milk',): 5, ('Diaper',): 5, ('Tea',): 4, ('Butter',): 3},
 2: {('Butter', 'Diaper'): 3,
  ('Butter', 'Milk'): 3,
  ('Diaper', 'Milk'): 5,
  ('Diaper', 'Tea'): 4,
  ('Milk', 'Tea'): 4},
 3: {('Butter', 'Diaper', 'Milk'): 3, ('Diaper', 'Milk', 'Tea'): 4}}

In [ ]:
rules

[{Butter} -> {Diaper},
 {Butter} -> {Milk},
 {Milk} -> {Diaper},
 {Diaper} -> {Milk},
 {Tea} -> {Diaper},
 {Diaper} -> {Tea},
 {Tea} -> {Milk},
 {Milk} -> {Tea},
 {Butter, Milk} -> {Diaper},
 {Butter, Diaper} -> {Milk},
 {Butter} -> {Diaper, Milk},
 {Milk, Tea} -> {Diaper},
 {Diaper, Tea} -> {Milk},
 {Diaper, Milk} -> {Tea},
 {Tea} -> {Diaper, Milk},
 {Milk} -> {Diaper, Tea},
 {Diaper} -> {Milk, Tea}]

In [ ]:
itemset, rules = apriori(transc , min_support=1, min_confidence= 1)

In [ ]:
itemset

{1: {('Milk',): 5, ('Diaper',): 5}, 2: {('Diaper', 'Milk'): 5}}

In [ ]:
rules

[{Milk} -> {Diaper}, {Diaper} -> {Milk}]

In [ ]:
itemset, rules = apriori(transc , min_support=0.6, min_confidence= 0.6)

In [ ]:
itemset

{1: {('Milk',): 5, ('Diaper',): 5, ('Tea',): 4, ('Butter',): 3},
 2: {('Butter', 'Diaper'): 3,
  ('Butter', 'Milk'): 3,
  ('Diaper', 'Milk'): 5,
  ('Diaper', 'Tea'): 4,
  ('Milk', 'Tea'): 4},
 3: {('Butter', 'Diaper', 'Milk'): 3, ('Diaper', 'Milk', 'Tea'): 4}}

In [ ]:
rules

[{Diaper} -> {Butter},
 {Butter} -> {Diaper},
 {Milk} -> {Butter},
 {Butter} -> {Milk},
 {Milk} -> {Diaper},
 {Diaper} -> {Milk},
 {Tea} -> {Diaper},
 {Diaper} -> {Tea},
 {Tea} -> {Milk},
 {Milk} -> {Tea},
 {Diaper, Milk} -> {Butter},
 {Butter, Milk} -> {Diaper},
 {Butter, Diaper} -> {Milk},
 {Milk} -> {Butter, Diaper},
 {Diaper} -> {Butter, Milk},
 {Butter} -> {Diaper, Milk},
 {Milk, Tea} -> {Diaper},
 {Diaper, Tea} -> {Milk},
 {Diaper, Milk} -> {Tea},
 {Tea} -> {Diaper, Milk},
 {Milk} -> {Diaper, Tea},
 {Diaper} -> {Milk, Tea}]

In [ ]:
df=pd.read_csv("1000i.csv",header=None,names=["receipt no.","food","quantity"])

In [ ]:
df

      receipt no.  food  quantity
0               1     3         7
1               1     4        15
2               1     2        49
3               1     5        44
4               2     1         1
...           ...   ...       ...
3533          999     5        35
3534          999     2         3
3535         1000     4        15
3536         1000     3        47
3537         1000     3        34

[3538 rows x 3 columns]

In [ ]:
dict={
    1:"milk",2:"sugar",3:"chocolate",4:"apples",5:"curd"
}

In [ ]:
d1=pd.DataFrame(df)
d1

      receipt no.  food  quantity
0               1     3         7
1               1     4        15
2               1     2        49
3               1     5        44
4               2     1         1
...           ...   ...       ...
3533          999     5        35
3534          999     2         3
3535         1000     4        15
3536         1000     3        47
3537         1000     3        34

[3538 rows x 3 columns]

In [ ]:
d2=pd.DataFrame(df)
d2

      receipt no.  food  quantity
0               1     3         7
1               1     4        15
2               1     2        49
3               1     5        44
4               2     1         1
...           ...   ...       ...
3533          999     5        35
3534          999     2         3
3535         1000     4        15
3536         1000     3        47
3537         1000     3        34

[3538 rows x 3 columns]

In [ ]:
d2["food"].map(dict)

0       chocolate
1          apples
2           sugar
3            curd
4            milk
          ...
3533         curd
3534        sugar
3535       apples
3536    chocolate
3537    chocolate
Name: food, Length: 3538, dtype: object

In [ ]:
d1['food'] = d1['food'].replace(dict)
d1

      receipt no.       food  quantity
0               1  chocolate         7
1               1     apples        15
2               1      sugar        49
3               1       curd        44
4               2       milk         1
...           ...        ...       ...
3533          999       curd        35
3534          999      sugar         3
3535         1000     apples        15
3536         1000  chocolate        47
3537         1000  chocolate        34

[3538 rows x 3 columns]

In [ ]:
transactions=d1.groupby(d1['receipt no.'])['food'].apply(lambda x:list(x))
transactions

receipt no.
1                        [chocolate, apples, sugar, curd]
2                                           [milk, sugar]
3                                            [milk, milk]
4                    [milk, milk, curd, curd, milk, milk]
5                     [apples, apples, sugar, curd, curd]
                              ...
996     [chocolate, sugar, chocolate, curd, chocolate,...
997                      [chocolate, curd, apples, sugar]
998                 [milk, chocolate, curd, apples, curd]
999                                  [sugar, curd, sugar]
1000                       [apples, chocolate, chocolate]
Name: food, Length: 1000, dtype: object

In [ ]:
itemset1,rules1=apriori(transactions,min_support=0.5,min_confidence=0.75)

In [ ]:
itemset1

{1: {('chocolate',): 507, ('apples',): 540, ('milk',): 542}}

In [ ]:
rules1

[]

In [ ]:
itemset1,rules1=apriori(transactions,min_support=0.3,min_confidence=0.6)

In [ ]:
itemset1

{1: {('chocolate',): 507,
  ('apples',): 540,
  ('sugar',): 498,
  ('curd',): 493,
  ('milk',): 542}}